/*Monserrat by Google Fonts*/
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

*{
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #E2E2E2;
    font-family: 'Montserrat', Arial, sans-serif
}

h1{
    color:#E2E2E2;
    font-size: 50px;
    font-weight: 500;
}
h2{
    color:#272727;
    font-weight: 600;
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 5px;
}
p{
    color: #000000;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
}

.wrapper{
    width: 100%;
}
/*HEADER*/
header{
    background-color: #272727;
    color: #E2E2E2;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 25px;
    }
        .header__logo__phone{
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 14px;
            line-height: 16px;
            font-weight: 600;
            letter-spacing: 1px;
            color: #E2E2E2;
            width: 38px;
        }
        .header__logo{
            display: none;
        }
        .header__logo__phone:hover{
            text-decoration: none;
            color: #5E5E5E;
        }
        .header__navlinks {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            font-size: 12px;
            line-height: 16px;
        }
        .header__navlinks li {
            margin: 0px 8px
        }
        .header__navlinks a{
            text-decoration: none;
            color: #E2E2E2;
        }
        .header__navlinks a:hover{
            text-decoration: none;
            color: #5E5E5E;
        }
        .header__social-icons{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 38px;
        }
        .fa{
            text-align: right;
            text-decoration: none;
            color: #E2E2E2;
        }
        .fa:hover{
            text-decoration: none;
            color: #5E5E5E;
        }

/*HERO*/
.hero__container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-image: url(images/banner.webp);
    background-color: #2F2F2F;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

/*INFO-CONTAINER*/
.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
    .info-container__img{
        width: 50%;
    }
    .info-container__img img{
        width: 100%;
        box-shadow: 10px -10px 0px #2F2F2F;
    }
    .info-container__text {
        width: 100%;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .info-container__text p {
        margin-top: 10px;
    }
    .info-container__button--kontakt{
        display: inline-block;
        border-radius: 8px;
        margin: 0 auto;
        padding: 8px 16px;
        font-size: 10px;
        font-weight: 400;
        background-color: #272727;
        color: #E2E2E2;
        text-decoration: none;
        margin-top: 10px;
    }
    .info-container__button--kontakt:hover {
        text-decoration: none;
        background-color:#2F2F2F;
    }

/*FILMLINKS*/
.film-link__container{
    display: flex;
    flex-direction:row;
    padding: 30px;
    background-color: #272727;
    gap: 10px;
}
        .link__button{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            text-decoration: none;
        }
        .film__img--link{
            display: flex;
            justify-content: center;
            width: 100%;
        }
        .film__img--link img{
            padding: 5px 0px 5px 0px;
            width: 25%;
            height: auto;
        }
        .link__text{
            width: 100%;
            color: #E2E2E2;
            font-size: 10px;
            margin-top: 5px;
        }
        .link__text:hover{
            color: #5E5E5E;
        }


/*FOOTER*/
footer{
    background-color: #272727;
    color: #E2E2E2;
    height: 60px;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
        .footer__logo{
        text-align: left;
        text-decoration: none;
        font-size: 10px;
        font-weight: 600;
        color: #E2E2E2;
        }
        .footer__logo:hover{
            color: #5E5E5E;
        }
        .footer__navlinks {
        list-style: none;
        display: flex;
        justify-content: center;
        font-size: 12px;
        }
        .footer__navlinks li {
            margin: 0px 8px
        }
        .footer__navlinks a{
            text-decoration: none;
            color: #E2E2E2;
        }
        .footer__navlinks a:hover{
            text-decoration: none;
            color: #5E5E5E;
        }
        a.active {
            text-decoration: underline;
            font-weight: 500;
        }
        .footer__social-icons{
            display: flex;
            gap: 14px;

        }
        .fa{
            font-size: 6px;
            text-align: center;
            text-decoration: none;
            color: #E2E2E2;
        }
        .fa:hover{
            text-decoration: none;
            color: #5E5E5E;
        }

/*TABLET*/
@media (min-width:768px) {
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 22px;
        margin-top: 26px;
    }
    p{
        font-size: 18px;
        line-height: 20px;
    }

    /*HEADER*/
    header{
        padding: 20px 60px;
    }
        .header__logo__phone{
            display: none;
        }
        .header__logo{
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            color: #E2E2E2;
            width: 110px;
        }
        .header__logo:hover{
            text-decoration: none;
            color: #5E5E5E;
        }
        .header__navlinks {
            font-size: 18px;
            height: 20px;
        }
        .header__navlinks li {
            margin: 0px 12px
        }
        .header__social-icons{
            display: flex;
            justify-content: right;
            align-items: center;
            gap: 20px;
            width: 110px;
            height: 20px;
            font-size: 20px;
        }
        
    /*HERO*/
    .hero__container {
     height: 350px;
    }
        .hero__container p{
        font-size: 20px;
        }
    
      /*INFO-CONTAINER*/
      .info-container{
        padding: 50px 70px;
    }
        .info-container__img{
            flex: 0 0 25%;
        }
        .info-container__text{
            flex: 1;
        }
        .info-container__button--kontakt {
            border-radius: 8px;
            padding: 8px 16px;
            font-size: 12px;
            margin-top: 10px;
        } 

    /*FILMLINKS*/
    .film-link__container{
        padding: 50px;
        gap: 15px;  
    }

    .link__text{
        font-size: 14px;
        margin-top: 10px;
    }

    /*FOOTER*/
     footer{
        height: 80px;
        padding: 20px 60px;
        }
        .footer__logo {
            font-size: 18px;
        }
        .footer__navlinks {
            font-size: 16px;
        }
        .footer__navlinks li {
            margin: 0px 12px
        }
        .footer__social-icons{
        font-size: 20px;
        gap: 20px;
        }
}
    
/*DESKTOP*/
@media (min-width:1024px){
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 26px;
        margin-top: 28px;
    }
    p{
        font-size: 16px;
        line-height: 24px;
    }

    /*HEADER*/
    header{
        padding: 25px 60px;
    }
        .header__logo{
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            width: 110px;
        }
        .header__navlinks {
            font-size: 14px;
            height: 20px;
        }
        .header__navlinks li {
            margin: 0px 12px
        }
        .header__social-icons{
            gap: 20px;
            width: 110px;
            height: 20px;
            font-size: 20px;
        }
    
    /*INFO-CONTAINER*/
    .info-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin: 0 auto;
        gap: 50px;
    }
    .info-container__img{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 35%;
    }
    .info-container__img img{
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }
    .info-container__text{
        flex: 1;
        text-align: left;
    }
    
    /*FILMLINKS*/
    .film-link__container{
        padding: 50px;
        gap: 60px;
    }
        .link__text{
            margin-top: 10px;
            font-size: 14px;  
        }
    
    /*FOOTER*/
    footer{
        padding: 30px 60px;
        }
        .footer__logo {
            font-size: 18px;
        }
        .footer__navlinks {
            font-size: 14px;
        }
        .footer__social-icons{
        font-size: 22px;
        gap: 20px;
        }
}