/*Monserrat by Google Fonts*/
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

*{
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #E2E2E2;
    font-family: 'Montserrat', Arial, sans-serif
}

h1{
    color:#272727;
    font-size: 50px;
    font-weight: 500;
}
p{
    color: #000000;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

.wrapper{
    width: 100%;
}
/*HEADER*/
header{
    background-color: #272727;
    color: #E2E2E2;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 25px;
    }
        .header__logo__phone{
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 14px;
            line-height: 16px;
            font-weight: 600;
            letter-spacing: 1px;
            color: #E2E2E2;
            width: 38px;
        }
        .header__logo{
            display: none;
        }
        .header__logo__phone:hover{
            text-decoration: none;
            color: #5E5E5E;
        }
        .header__navlinks {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            font-size: 12px;
            line-height: 16px;
        }
        .header__navlinks li {
            margin: 0px 8px
        }
        .header__navlinks a{
            text-decoration: none;
            color: #E2E2E2;
        }
        .header__navlinks a:hover{
            text-decoration: none;
            color: #5E5E5E;
        }
        .header__navlinks a.active{
            font-weight: 600;
            text-decoration: underline;
        }
        .header__social-icons{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 38px;
        }
        .fa{
            text-align: right;
            text-decoration: none;
            color: #E2E2E2;
        }
        .fa:hover{
            text-decoration: none;
            color: #5E5E5E;
        }

/*GALLERI*/
.galleri__container{
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center;
    justify-content: center;
    gap: 40px;
}
    .galleri__img{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

    }
    .galleri__button{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        gap: 10px;
    }
    .galleri__img--link{
        width: 80%;
        height: auto;
    }
    
/*FOOTER*/
.footer__container{
    background-color: #272727;
    color: #E2E2E2;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    }
    .footer__logo{
        display: flex;
        justify-content: center;
        font-size: 12px;
        font-weight: 600;
        color: #E2E2E2;
        padding: 8px;
        text-decoration: none;
    }
    .footer__logo:hover{
        text-decoration: none;
        color: #5E5E5E;
    }
    .footer__social-icons a:hover{
        text-decoration: none;
        color: #5E5E5E;
    }
        .footer__navlinks {
            display: flex;
            justify-content: center;
            list-style: none;
            font-size: 12px;
            line-height: 16px;
            padding: 8px;
        }
        .footer__navlinks li a{
            text-decoration: none;
            color: #E2E2E2;
            margin: 0px 8px
        }
        .footer__navlinks li a:hover{
            text-decoration: none;
            color: #5E5E5E;
        }
        .footer__navlinks li a.active{
            font-weight: 600;
            text-decoration: underline;
        }
        .footer__social-icons{
            display: flex;
            justify-content: center;
        }
        .footer__social-icons a{
            text-decoration: none;
            padding: 8px;
            color: #E2E2E2;
        }
        .footer__social-icons a:hover{
            text-decoration: none;
            color: #5E5E5E;
        }
        .footer__copyright{
            background-color: #272727;
            padding: 0px 20px 8px 20px;
            text-align: center;
        }
        .footer__copyright p{
            font-size: 8px;
            color: #E2E2E2;
        }

/*TABLET*/
@media (min-width:768px){
    h1{
        font-size: 60px;
    }
    p{
        font-size: 18px;
        line-height: 20px;
    }

    /*HEADER*/
    header{
        padding: 20px 60px;
    }
        .header__logo__phone{
            display: none;
        }
        .header__logo{
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            color: #E2E2E2;
            width: 110px;
        }
        .header__logo:hover{
            text-decoration: none;
            color: #5E5E5E;
        }
        .header__navlinks {
            font-size: 18px;
            height: 20px;
        }
        .header__navlinks li {
            margin: 0px 12px
        }
        .header__social-icons{
            display: flex;
            justify-content: right;
            align-items: center;
            gap: 20px;
            width: 110px;
            height: 20px;
            font-size: 20px;
        }

    /*GALLERI*/
    .galleri__container{
     padding: 50px;
     gap: 50px;
    }
        .galleri__img{
         gap: 40px;

        }
        .galleri__button{
         gap: 15px;
        }
        .galleri__img--link{
         width: 60%;
        }

    /*FOOTER*/
    .footer__container{
        width: auto;
        }
        .footer__logo{
            font-size: 16px;
            padding: 12px;
        }
            .footer__navlinks {
                font-size: 18px;
                padding: 12px;
            }
            .footer__social-icons{
                font-size: 18px;
            }
            .footer__social-icons a{
                padding: 12px;
                color: #E2E2E2;
            }
            .footer__copyright{
                padding: 0px 20px 12px 20px;
            }
            .footer__copyright p{
                font-size: 12px;
            }
}

/*DESKTOP*/
@media (min-width:1024px){
    h1{
        font-size: 60px;
    }
    p{
        font-size: 14px;
        line-height: 20px;
    }


    /*HEADER*/
    header{
        padding: 25px 60px;
    }
        .header__logo{
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            width: 110px;
        }
        .header__navlinks {
            font-size: 14px;
            height: 20px;
        }
        .header__navlinks li {
            margin: 0px 12px
        }
        .header__social-icons{
            gap: 20px;
            width: 110px;
            height: 20px;
            font-size: 20px;
        }

    /*GALLERI*/
    .galleri__container{
     padding: 70px;
     gap: 50px;
    }
        .galleri__img{
         display: grid;
         grid-template-columns: repeat(3,1fr);
         gap: 30px;

        }
        .galleri__img--link{
         width: 90%;
        }

    /*FOOTER*/
    .footer__container{
        width: auto;
        }
        .footer__logo{
            font-size: 16px;
            padding: 12px;
        }
            .footer__navlinks {
                font-size: 14px;
                padding: 12px;
            }
            .footer__social-icons{
                font-size: 18px;
            }
            .footer__social-icons a{
                padding: 12px;
                color: #E2E2E2;
            }
            .footer__copyright{
                padding: 0px 20px 12px 20px;
            }
            .footer__copyright p{
                font-size: 12px;
            }
}