/*Monserrat by Google Fonts*/
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

*{
    margin: 0;
    padding: 0;
}

html, body{
    background-color: #E2E2E2;
    font-family: 'Montserrat', Arial, sans-serif
}

h1{
    color:#E2E2E2;
    font-size: 50px;
    font-weight: 500;
}
h2{
    color:#272727;
    font-weight: 600;
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 5px;
}
p{
    color: #000000;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
}

.wrapper{
    width: 100%;
}
/*HEADER*/
    header{
    background-color: #272727;
    color: #E2E2E2;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 25px;
    }
        .header__logo__phone{
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 14px;
            line-height: 16px;
            font-weight: 600;
            letter-spacing: 1px;
            color: #E2E2E2;
            width: 38px;
        }
        .header__logo{
            display: none;
        }
        .header__logo__phone:hover{
            text-decoration: none;
            color: #5E5E5E;
        }
        .header__navlinks{
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            font-size: 12px;
            line-height: 16px;
        }
        .header__navlinks li{
            margin: 0px 8px
        }
        .header__navlinks a{
            text-decoration: none;
            color: #E2E2E2;
        }
        .header__navlinks a:hover{
            text-decoration: none;
            color: #5E5E5E;
        }
        .header__navlinks a.active{
            font-weight: 600;
            text-decoration: underline;
        }
        .header__social-icons{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 38px;
        }
        .fa{
            text-align: right;
            text-decoration: none;
            color: #E2E2E2;
        }
        .fa:hover{
            text-decoration: none;
            color: #5E5E5E;
        }
       

/*HERO*/
    .hero-container{
        padding: 40px;
        display: flex;
        flex-direction: column;
        background-image: url(images/banner.webp);
        background-color: #2F2F2F;
        height: 150px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;
    }
        .hero-container__text{
            width: 100%;
            text-align: center;
            width: 100%;
        }
        .hero-container__text p{
            font-size: 18px;
            color:#E2E2E2;
        }

/*INFO-CONTAINER*/
    .info-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px;
    }
        .info-container__img{
            width: 50%;
        }
        .info-container__img img{
            width: 100%;
            box-shadow: 10px -10px 0px #2F2F2F;
        }
        .info-container__text{
            width: 100%;
            flex-direction: column;
            text-align: center;
            justify-content: center;
        }
        .info-container__button--kontakt{
            display: inline-block;
            border-radius: 8px;
            margin: 0 auto;
            padding: 8px 16px;
            font-size: 10px;
            font-weight: 400;
            background-color: #272727;
            color: #E2E2E2;
            text-decoration: none;
            margin-top: 8px;
        }
        .info-container__button--kontakt:hover{
            text-decoration: none;
            background-color:#2F2F2F;
        }

/*FOTOGRAFI*/
    .foto-container{
        display: flex;
        flex-direction: column;
        padding: 30px;
        background-color: #272727;
    }  
        .foto-container__img{
            display: flex;
            justify-content: center;
            width: 100%;
            gap: 8px;
            padding: 15px 0px 15px 0px;
        }
        .foto-container__img img{
            width: 25%;
            height: auto;
        }
        .foto-container__button--galleri{
            display: inline-block;
            border: solid 1px #E2E2E2;
            border-radius: 6px;
            margin: 0 auto;
            padding: 6px 14px;
            font-size: 10px;
            font-weight: 400;
            color: #E2E2E2;
            text-decoration: none;
        }
        .foto-container__button--galleri:hover{
            text-decoration: none;
            background-color:#2F2F2F;
        }

/*FILM*/
    .film-container{
        padding: 40px;
        display: flex;
        flex-direction: column;
        background-image: url(images/storeys.webp);
        background-color: #2F2F2F;
        height: 200px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
        .film-container h2{
        color: #E2E2E2;
        }
        .film-container__button--film{
        display: inline-block;
        border: solid 1px #E2E2E2;
        border-radius: 6px;
        margin: 0 auto;
        padding: 6px 14px;
        font-size: 10px;
        font-weight: 400;
        background-color: #272727;
        color: #E2E2E2;
        text-decoration: none;
        }
        .film-container__button--film:hover{
        text-decoration: none;
        background-color:#2F2F2F;
        }
    
/*FOOTER*/
    .footer-container{
    background-color: #272727;
    color: #E2E2E2;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    }
        .footer-container__logo{
        display: flex;
        justify-content: center;
        font-size: 12px;
        font-weight: 600;
        color: #E2E2E2;
        padding: 8px;
        text-decoration: none;
        }
        .footer-container__logo:hover{
        text-decoration: none;
        color: #5E5E5E;
        }
        .footer-container__navlinks{
            display: flex;
            justify-content: center;
            list-style: none;
            font-size: 12px;
            line-height: 16px;
            padding: 8px;
        }
        .footer-container__navlinks li a{
            text-decoration: none;
            color: #E2E2E2;
            margin: 0px 8px
        }
        .footer-container__navlinks li a:hover{
            text-decoration: none;
            color: #5E5E5E;
        }
        .footer-container__navlinks li a.active{
            font-weight: 600;
            text-decoration: underline;
        }
        .footer-container__social-icons{
            display: flex;
            justify-content: center;
        }
        .footer-container__social-icons a{
            text-decoration: none;
            padding: 8px;
            color: #E2E2E2;
        }
        .footer-container__social-icons a:hover{
            text-decoration: none;
            color: #5E5E5E;
        }
        .footer-container__copyright{
            background-color: #272727;
            padding: 0px 20px 8px 20px;
            text-align: center;
        }
        .footer-container__copyright p{
            font-size: 8px;
            color: #E2E2E2;
        }
       

/*TABLET*/
@media (min-width:768px) {
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 22px;
        margin-top: 26px;
    }
    p{
        font-size: 18px;
        line-height: 20px;
    }

    /*HEADER*/
    header{
        padding: 20px 60px;
    }
        .header__logo__phone{
            display: none;
        }
        .header__logo{
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            color: #E2E2E2;
            width: 110px;
        }
        .header__logo:hover{
            text-decoration: none;
            color: #5E5E5E;
        }
        .header__navlinks{
            font-size: 18px;
            height: 20px;
        }
        .header__navlinks li{
            margin: 0px 12px
        }
        .header__social-icons{
            display: flex;
            justify-content: right;
            align-items: center;
            gap: 20px;
            width: 110px;
            height: 20px;
            font-size: 20px;
        }

    /*HERO*/
    .hero-container{
     height: 350px;
    }
        .hero-container__text p{
        font-size: 20px;
        }

    /*INFO-CONTAINER*/
    .info-container{
        padding: 50px 70px;
    }
        .info-container__img{
            flex: 0 0 25%;
        }
        .info-container__text{
            flex: 1;
        }
        .info-container__button--kontakt{
            border-radius: 8px;
            padding: 8px 16px;
            font-size: 12px;
            margin-top: 10px;
        } 

    /*FOTOGRAFI*/
    .foto-container{
        padding: 40px;
    }  
        .foto-container__img{
        padding: 20px 0px 20px;
        }
        .foto-container__button--galleri{
        border-radius: 8px;
        padding: 8px 16px;
        font-size: 12px;
        }

    /*FILM*/
    .film-container{
        height: 300px;
    }
        .film-container__button--film{
        border-radius: 8px;
        padding: 8px 16px;
        font-size: 12px;
        }


    /*FOOTER*/
    .footer-container{
        width: auto;
        }
        .footer-container__logo{
            font-size: 16px;
            padding: 12px;
        }
        .footer-container__navlinks {
                font-size: 18px;
                padding: 12px;
        }
        .footer-container__social-icons{
                font-size: 18px;
        }
        .footer-container__social-icons a{
                padding: 12px;
                color: #E2E2E2;
        }
        .footer-container__copyright{
                padding: 0px 20px 12px 20px;
        }
        .footer-container__copyright p{
                font-size: 12px;
        }
}

/*DESKTOP*/
@media (min-width:1024px){
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 26px;
        margin-top: 28px;
    }
    p{
        font-size: 16px;
        line-height: 24px;
    }

    /*HEADER*/
    header{
        padding: 25px 60px;
    }
        .header__logo{
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            width: 110px;
        }
        .header__navlinks{
            font-size: 14px;
            height: 20px;
        }
        .header__navlinks li{
            margin: 0px 12px
        }
        .header__social-icons{
            gap: 20px;
            width: 110px;
            height: 20px;
            font-size: 20px;
        }
        
    /*HERO*/
    .hero-container{
        height: 620px;
    }
        .hero-container__text p{
        font-size: 20px;
        }

    /*INFO-CONTAINER*/
    .info-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin: 0 auto;
        gap: 50px;
    }
        .info-container__img{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 35%;
        }
        .info-container__img img{
        max-width: 100%;
        height: auto;
        object-fit: contain;
        }
        .info-container__text{
        flex: 1;
        text-align: left;
        }

    /*FOTOGRAFI*/
    .foto-container{
        padding: 70px;
    }  
        .foto-container__img{
        padding: 30px 0px 30px 0px;
        gap: 10px;
        }
        .foto-container__text{
        font-size: 16px;
        }   

    /*FILM*/
    .film-container{
        height: 600px;
    }

    /*FOOTER*/
    .footer-container{
        width: auto;
        }
        .footer-container__logo{
            font-size: 16px;
            padding: 12px;
        }
        .footer-container__navlinks{
                font-size: 14px;
                padding: 12px;
        }
        .footer-container__social-icons{
                font-size: 18px;
        }
        .footer-container__social-icons a{
                padding: 12px;
                color: #E2E2E2;
        }
        .footer-container__copyright{
                padding: 0px 20px 12px 20px;
        }
        .footer-container__copyright p{
                font-size: 12px;
        }
}